.rowWrapper {
  padding-block: 1.5rem;
  display: flex !important;
  flex-direction: column;
  gap: 4rem;
}

@media (min-width: 525px) {
  .rowWrapper {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}

.rowWrapper + .rowWrapper {
  border-top: 1px solid var(--clr-border);
}

.rowWrapper select {
  width: fit-content;
}
