.wrapper {
  position: relative;
  margin-top: 1.75rem;
}

.label {
  transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -ms-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-19px);
  -webkit-transform: translateY(-19px);
  -moz-transform: translateY(-19px);
  -ms-transform: translateY(-19px);
  -o-transform: translateY(-19px);
  font-size: 1.4rem;
}
.wrapper input {
  padding: 2rem 1rem 0.5rem !important;
  font-size: 1.4rem;
  transition: all 350ms ease;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -ms-transition: all 350ms ease;
  -o-transition: all 350ms ease;
}
.wrapper input:focus {
  border-color: var(--clr-accent);
}
.wrapper input:focus + .label {
  top: 7px;
  left: 1rem;
  font-size: 1.05rem;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  color: var(--clr-accent);
}
